<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wonly.kotlinsample">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.chapter_2.Chapter27Activity"></activity>
        <activity android:name=".ui.chapter_2.Chapter263Activity" />
        <activity android:name=".ui.chapter_2.Chapter262Activity" />
        <activity android:name=".ui.chapter_2.Chapter261Activity" />
        <activity android:name=".ui.chapter_2.Chapter25Activity" />
        <activity android:name=".ui.chapter_2.Chapter24Activity" />
        <activity android:name=".ui.chapter_2.Chapter23Activity" />
        <activity android:name=".ui.chapter_2.Chapter224Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>